@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
  font-family: "Inter", sans-serif;
}

body {
  @apply min-h-dvh overflow-x-hidden bg-[#F9F8FC] dark:bg-[#040307];
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
